* {
  /* height: 100%; */
  margin: 0;
}

.responsive-div {
  width: 100%; /* Por defecto, ocupa todo el ancho disponible */
  max-width: 600px; /* Establece un ancho máximo para evitar que se vuelva demasiado ancho en pantallas grandes */
  margin: 0 auto; /* Centra el div horizontalmente */
  background-color: lightblue;
  padding: 20px;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho del div */
}

/* Consulta de medios para hacer ajustes en el diseño en pantallas pequeñas */
@media (max-width: 768px) {
  .responsive-div {
    padding: 10px; /* Cambia el padding en pantallas más pequeñas */
  }
}

/* TABULATOR */
.tabulator {
  background: #f1feff !important;
}

.tabulator-table {
  font-size: medium;
  background-color: #e5e1fd !important;
}

.tabulator-cell {
  border-right: none !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.tabulator .tabulator-header {
  position: sticky;
  /* top: 0; */
}

.tabulator-row.tabulator-row {
  background-color: #d3f6fa;
}

.tabulator-row.tabulator-row-odd {
  background-color: #f1feff;
}

.tabulator-col {
  color: #525252;
  border-right: none !important;
  font-weight: bold;
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.tabulator .tabulator-header .tabulator-col .tabulator-header-filter input {
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
}

.tabulator-col-content {
  background-color: #e5e1fd;
  height: 60px;
}

.tabulator-col-resize-handle {
  display: none !important;
}

/* .tabulator-header-filter {
  background: red;
} */

/* SCROLL BAR */

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: #916e9b;
}

::-webkit-scrollbar {
  width: 7px !important;
}

::-webkit-scrollbar-thumb {
  background: #907ca3;
  border-radius: 5px !important;
}
